*{
    margin: 0;
    padding: 0;
    color: #ffffff;
    box-sizing: border-box;
    /* border: 1px solid white; */
}
body{
    background-color: #000;
}
.main-1{
    background-image: url("IN-en-20240115-trifectadaily-perspective_alpha_website_large.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}
.main-1-1{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 50px;
}
.box-1{
    margin-top: -30px;
    height: 25vh;
    width: 25vw;
}
img{
    width: 100%;
    height: 100%;
}
.box-2{
    margin-top: -30px;
    display: flex;
    gap: 25px;
}
.button-1{
    border: none;
    font-size: medium;
    padding: 6px 18px;
    background-color:#db0000;
    color: #ffffff;
    border-radius: 4px;
    border: 2px;
}
.lang{
    font-size: medium;
    outline: 1px solid #ffffff;
    border-radius: 2px;
    padding: 0px 25px;
    color: white;
    background-color: black;
    opacity: 70%;

}
.main-1-2{
    padding-top: 20px;
    color: #ffffff;
    width: 80%;
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.heading-1{
    width: 80%;
    text-align: center;
    font-size: 50px;
}
.para-1{
    width: 70%;
    line-height: 40px;
    text-align: center;
    font-size: 26px;
    font-weight: 200;
}
.para-2{
    width: 70%;
    line-height: 40px;
    text-align: center;
    font-size: 23px;
    font-weight: 200;
}
.search{
    display: flex;
    width: 65%;
    justify-content: center;
    gap: 3px;
}
.search-bar{
    background-color: black;
    opacity: 70%;
    width: 60%;
    padding: 0px 10px;
    color: #ffffff;
    border-radius: 4px;
    border: none;
    box-shadow: 0.2px 0.2px 2px white;
}
.button{
    border-radius: 5px;
    padding: 13px 20px;
    padding-right: 25px;
    background-color: #db0000;
    font-weight: bold;
    font-size: x-large;
    color: #ffffff;
}
a{
   
}
.shadow{
    position: absolute;
    background-color: black;
    width: 100%;
    height: 100%;
    top: 0px;
    opacity: 70%;
}
.font-size{
    font-size: 60px;
    text-align: left;
}
.font-size-2{
    text-align: left;
    font-size: 25px;
}
.first{
    position: relative;
    z-index: 2;
   width: 100%;
   height: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 90px;
   padding-bottom: 90px;
}
.line{
    height: 1.5vh;
    background-color: rgba(255, 255, 255, 0.126);
}
.main-2{
    display: flex;
    justify-content: center;
    padding-bottom: 90px;
    position: relative;
}
.main-3{
    padding-top: 50px;
    display: flex;
    justify-content: center;
    padding-bottom: 90px;
}
.main-2-1{
    width: 38%;
    text-align: center;
   display: flex;
   flex-direction: column;  
   justify-content: center;
   align-items: flex-start;
   gap: 20px;
}
 .main-4{
    padding-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7px;
    padding-bottom: 70px;
 }
 .netflix-btn{
    width: 75%;
    position: relative;
    
 }
 .box-3{
    width: 100%;
    height: 100%;
    position: absolute;
    font-size: 160%;
    top: 0px;
    left: 0px;
    border: none;
    text-align: left;
    padding: 25px;
    background-color: rgba(255, 255, 255, 0.126);
 }

 .chek{
    position: relative;
    z-index: 1;
    opacity: 0;
    width: 100%;
    height: 70px;
 }
 .drop-down{
    display: none;
    font-size: 150%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.126);
 }
 .search-bar-1{
    background-color: black;
    opacity: 70%;
    width: 45%;
    padding: 0px 10px;
    color: #ffffff;
    border-radius: 4px;
    border: none;
    box-shadow: 0.2px 0.2px 2px white;
}
.para-3{
    font-size: large;
}
.table{
    display: flex;
    justify-content: space-between;

}
.wraper{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 70%;
    text-align: left;
    padding-left: 70px;
}
img{
    width: 100%;
    height: 100%;
}
.main-5{
    padding-top: 70px;
    padding-bottom: 70px;
    padding-left: 70px;
    display: flex;
    justify-content: left;
}
.table-1{
    text-align: left;
    display: flex;
    justify-content: space-evenly;
    gap: 12px;
    flex-direction: column;
}
.lang-1{
    font-size: medium;
    outline: 1px solid #ffffff;
    border-radius: 2px;
    padding: 5px 25px;
    color: white;
    background-color: black;
    opacity: 70%;
    
}
.wraper-2{
    position: relative;
    width: 40%;
    z-index: 1; 
}
.lang-2{
    width: 15%;
}

.video{
    position: absolute;
    top: 80px;
    left: 67px;
    width: 73%;
}
.img-1{
    position: relative;
    z-index: 1;
}
.img-4{
    position: relative;
    z-index: 1;
}
.video-2{
    position: absolute;
    left: 90px;
    top: 30px;
    width: 63%;
    /* height: 40vh; */
}
.main-3{
    position: relative;
}
.card{
    position: absolute;
    background-color: black;
    width: 55%;
    text-align: center;
    left: 110px;
    bottom: 25px;
    z-index: 1;
    display: flex;
    align-items: center;
     justify-content: space-evenly;
     padding: 10px 0px;
     border: 3px solid  rgba(255, 255, 255, 0.126);
     border-radius: 15px;
}
.img-3{
    width: 5vw;
    height: 14vh;
    padding-bottom: 5px;
}
.para-4{
    color: blue;
}
.para-5{
    font-size: large;
}
.main-1-2 a{
    text-decoration: none;
}
.main-4 a{
    text-decoration: none;
}
.chek:checked + .drop-down{
    display: block;
}
.netflix-btn:hover{
    background-color: rgba(255, 255, 255, 0.167);
    cursor: pointer;
}
.chek:hover{
    cursor: pointer;
}

@media (max-width: 992px) {
    
.lang {
    font-size: 75%;
    outline: 1px solid #ffffff;
    border-radius: 2px;
    padding: 0px 25px;
    color: white;
    background-color: black;
    opacity: 70%;
}
    .button {
        border-radius: 5px;
        padding: 13px 20px;
        padding-right: 25px;
        background-color: #db0000;
        font-weight: bold;
        font-size: 100%;
        color: #ffffff;
    } 
    .heading-1{
        width: 80%;
        text-align: center;
        font-size: 150%;
    }
    .font-size {
        font-size: 230%;
        text-align: left;
    } 
    
.font-size-2 {
    text-align: left;
    font-size:  110%;
}  
.card {
    position: absolute;
    background-color: black;
    width: 22vw;
    left: 191px;
    bottom: 120px;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px 0px;
    border: 3px solid rgba(255, 255, 255, 0.126);
    border-radius: 15px;
}
.button-2 {
    border: none;
    text-align: left;
    width: 75%;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.126);
}
.para-2 {
    width: 70%;
    line-height: 33px;
    text-align: center;
    font-size: 140%;
    font-weight: 200;
}

.para-3 {
    font-size: 110%;
}
.table-1 {
    text-align: left;
    display: flex;
    justify-content: space-evenly;
    gap: 8px;
    flex-direction: column;
}
.table-1 a{
    font-size: 90%;
}

.lang-1 {
    font-size: medium;
    outline: 1px solid #ffffff;
    border-radius: 2px;
    padding: 4px 18px;
    color: white;
    background-color: black;
    opacity: 70%;
    font-size: 85%;
}
.card{
    position: absolute;
    background-color: black;
    width: 55%;
    text-align: center;
    left: 85px;
    bottom: 25px;
    z-index: 1;
    display: flex;
    align-items: center;
     justify-content: space-evenly;
     padding: 3px 0px;
     border: 3px solid  rgba(255, 255, 255, 0.126);
     border-radius: 10px;
}
.img-3{
    width: 5vw;
    height: 13vh;
    padding-bottom: 5px;
}
.para-4{
    font-size: 80%;
    color: blue;
}
.para-5{
    font-size: 80%;
}
}
@media (max-width: 768px) {
    .button {
        border-radius: 5px;
        padding: 10px 14px;
        
        background-color: #db0000;
        font-weight: bold;
        font-size: 69%;
        color: #ffffff;
        text-align: center;
    }
    .button-1{
        border: none;
        font-size: medium;
        padding: 6px 15px;
        background-color:#db0000;
        color: #ffffff;
        border-radius: 4px;
        border: 2px;
        font-size: 80%;
    }
    .main-1-1 {
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 20px;
    }
    
.main-1-2 {
    padding-top: 4px;
    color: #ffffff;
    width: 80%;
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
    .para-1{
        width: 70%;
        line-height: 20px;
        text-align: center;
        font-size: 100%;
        font-weight: 200;
    }
    .search-bar{
        background-color: black;
        opacity: 70%;
        width: 60%;
        padding: 0px 5px;
        color: #ffffff;
        border-radius: 4px;
        border: none;
        font-size: 70%;
        box-shadow: 0.2px 0.2px 2px white;
    }
    .main-2-1{
        width: 38%;
        text-align: center;
       display: flex;
       flex-direction: column;  
       justify-content: center;
       align-items: flex-start;
       gap: 10px;
    }
    .main-2 {
        display: flex;
        justify-content: center;
        padding-bottom: 50px;
        position: relative;
    }
    .font-size {
        font-size: 168%;
        text-align: left;
    } 
    
.font-size-2 {
    text-align: left;
    font-size:  74%;
}  
.card {
    position: absolute;
    background-color: black;
    width: 22vw;
    left: 191px;
    bottom: 120px;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px 0px;
    border: 3px solid rgba(255, 255, 255, 0.126);
    border-radius: 15px;
}
.button-2 {
    border: none;
    text-align: left;
    width: 75%;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.126);
}
.para-2 {
    width: 70%;
    line-height: 20px;
    text-align: center;
    font-size: 100%;
    font-weight: 200;
}

.para-3 {
    font-size: 89%;
}
.table-1 {
    text-align: left;
    display: flex;
    justify-content: space-evenly;
    gap: 5px;
    flex-direction: column;
}

.wraper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 73%;
    justify-content: flex-start;
    padding-left: 39px;
}
.table-1 a {
    font-size: 73%;
}

.lang-1 {
    font-size: medium;
    outline: 1px solid #ffffff;
    border-radius: 2px;
    padding: 4px 15px;
    color: white;
    background-color: black;
    opacity: 70%;
    font-size: 70%;
}
.card{
    position: absolute;
    background-color: black;
    width: 55%;
    text-align: center;
    left: 60px;
    bottom: 25px;
    z-index: 1;
    display: flex;
    align-items: center;
     justify-content: space-evenly;
     padding: 0px 0px;
     border: 3px solid  rgba(255, 255, 255, 0.126);
     border-radius: 10px;
}
.img-3{
    width: 5vw;
    height: 10vh;
    padding-bottom: 5px;
}
.para-4{
    font-size: 60%;
    color: blue;
}
.para-5{
    font-size: 60%;
}
}
@media (max-width: 576px) {

    
}



