body{
    background-image: url("istockphoto-1388060063-170667a.webp");
}
.galaxy{
    height: 800px;
    width: 700px;
    background-image: url("19f5001d1fa1109ff6e53c4d73dda2a1.jpg");
    height: 200px;
    width: 200px;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-image: url("images.jpeg");
    height: 200px;
    width: 200px;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-image: url("images\ \(1\).jpeg");
    height: 200px;
    width: 200px;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-image: url("images\ \(3\).jpeg");
    height: 200px;
    width: 200px;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-image: url("istockphoto-1214890390-612x612.jpg");
    height: 200px;
    width: 200px;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-image: url("download.jpeg");
    height: 200px;
    width: 200px;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-image: url("images\ \(2\).jpeg");
    height: 200px;
    width: 200px;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-image: url("images\ \(4\).jpeg");
    height: 200px;
    width: 200px;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-image: url("download\ \(1\).jpeg");
    height: 200px;
    width: 200px;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-image: url("download\ \(2\).jpeg");
    height: 200px;
    width: 200px;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}